// Headers for audio and non-audio posts
.header, .header-audio, .header-simple {
  position: relative;
  color: $text-light;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 20%;
    top: 0;
    left: 0;
    z-index: 10;

    background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 95%, rgba(0,0,0,0) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(25%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0))); /* safari4+,chrome */
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 95%, rgba(0,0,0,0) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(180deg, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 95%, rgba(0,0,0,0) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(180deg, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 95%, rgba(0,0,0,0) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(0,0,0,1) 15%, rgba(0,0,0,0) 100%, rgba(0,0,0,0) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* ie6-9 */
  }

  .header-top {
    position: absolute;
    width: 1100px;
    margin: auto;
    top: 10px;
    right: 0;
    left: 0;
    z-index: 20;

    @include screen('desktop') {
      width: 90%;
    }

      .header-main {
        display: flex;
        justify-content: space-between;
        position: relative;

        .logo {
          flex: 0 1 auto;
          display: inline-block;
          transition: all .2s ease-in-out;


          &:hover {
            transform: scale(1.1) rotate(-1deg);
          }
        }
      }
  }

  .post-meta {
    @include post-meta;
    color: darken($text-light, 25%);
  }
}

// Audio player in header
.header-audio--post-content {
  margin-bottom: 95px;
  padding-top: 200px;

  .post-title {
    position: relative;
    @include clearfix;

    h1 {
      float: left;
      line-height: 1;
      margin-bottom: 5px;
    }
    span {
      content: 'Latest Episode';
      display: inline-block;
      margin: 5px 0 0 8px;
      padding: 2px 7px;
      vertical-align: top;
      font-size: 11px;
      font-weight: $base-font-weight;
      text-transform: uppercase;
      color: $text-standard;
      background: $colour-accent;

      @include screen('tablet') {
          float: left;
          margin: 0 0 10px 0;
      }
    }
  }
  .post-excerpt p {
    margin-bottom: 0;
  }
  .show-notes-link {
    display: block;
    margin-bottom: 15px;
  }
  .post-cta-audio {
    display: none;
  }
}

// Standard pages archive, about etc
.header-simple {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(img/page-header.jpg) no-repeat;
  background-size: cover;
  background-position: 100% 40%;

  .title-area {
    width: 100%;
    text-align: center;

    .page-title {
      color: white;
      line-height: 300px;
      padding-top: 20px;
    }
  }
}
