.header-wrap {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


  .header, .header-home {
    color: $text-light;
    padding-top: 10px;

    background: -moz-linear-gradient(270deg, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(15%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* ie6-9 */

    .header-top {
      display: flex;
      margin-bottom: 70px;

      .logo {
        flex: 0 1 auto;
      }
    }

    .header-post .post-meta {
      display: block;
      font-size: 14px;
      text-transform: uppercase;
      color: darken($text-light, 50%);
    }
  }

  .header-home--post-content {
    margin-bottom: 80px;

    .post-title {
      position: relative;
      @extend %clearfix;

      h1 {
        float: left;
        font-size: 58px;
        line-height: 1;
      }
      span {
        content: 'Latest Episode';
        display: inline-block;
        margin: 11px 0 0 13px;
        padding: 2px 7px;
        font-size: 11px;
        font-weight: $base-font-weight;
        text-transform: uppercase;
        color: $text-standard;
        background: $colour-accent;
      }
    }
    .post-cta-audio {
      display: none;
    }
  }

}
