.header-top .main-navigation {
  flex: 1 0 50%;
  text-align: right;

  .menu-header-container ul {
    margin-top: 10px;

    li {
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      display: inline-block;
      margin-left: 35px;
    }

    a, a:active, a:visited {
      position: relative;
      text-decoration: none;
      padding-bottom: 10px;
      color: $text-light;

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 3px;
        width: 0;
        background: transparent;
        transition: width .5s ease, background-color .5s ease, left .5s ease;
      }

      &:hover::after {
        width: 100%;
        left: 0;
        background: $colour-primary;
      }
    }

    .current-menu-item {
      border-bottom: 3px solid $colour-primary;
      padding-bottom: 7px;
    }
  }
}
