.sidebar {
  .sidebar-items {
    position: relative;
    @include clearfix;

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }

  h5 {
    margin-bottom: 10px;
  }

  // Social Links
  .social-links {
    @include social-link-icons
  }

  // Newsletter Sign Up
  .newsletter-form {
    label {
      display: block;
      margin-bottom: 10px;
    }

    input[type="email"] {
      @include form-field;
    }

    input[type="submit"] {
      float: right;
      border: 0;
      cursor: pointer;
    }

    p {
      width: 60%;
      margin-bottom: 0;
    }
  }

  // Search
  .search-form {
    position: relative;

    span {
      display: block;
      margin-bottom: 10px;
    }
    input[type="search"] {
      @include form-field;
      margin-bottom: 0;
    }
    .screen-reader-text {
      position: absolute;
      left: -10000px;
    }
    .search-btn-icon {
      position: absolute;
      top: 0;
      right: 0;
      width: 35px;
      height: 100%;
      background: $colour-primary;

      button[type="submit"] {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border: 0;
        background: $colour-primary;
        color: white;
        transition: all .2s ease-in-out;
        cursor: pointer;

        &:hover {
          color: white;
          background: darken($colour-primary, 5%);
        }
      }
    }
  }

  // Tweets
  .widget_oauth_twitter_widget {

    .oauth-twitter-tweet {
      font-style: normal;
      margin-bottom: 5px;
    }

    .oauth-twitter-tweet-time {
      font-family: $base-font-family;
      text-transform: uppercase;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // Archive links
  .widget_archive li {
    margin-bottom: 10px;
  }

}
