.sidebar {
  .sidebar-items {
    position: relative;
    @include clearfix;
  }

  h5 {
    margin-bottom: 10px;
  }

  // Social Links
  .social-links {
    li {
      display: inline-block;
      margin-right: 15px;

      [class^="icon-"] {
        display: block;
        width: 36px;
        height: 30px;
        background: url('img/sprite.svg');
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
      }

      .icon-twitter {
        background-position: -92px 0;
      }
      .icon-facebook {
        background-position: 0 0;
      }
      .icon-instagram {
        background-position: -46px 0;
      }
    }
  }

  // Newsletter Sign Up
  .newsletter-form {
    label {
      display: block;
      margin-bottom: 10px;
    }

    input[type="email"] {
      @include form-field;
    }

    input[type="submit"] {
      float: right;
      border: 0;
      cursor: pointer;
    }

    p {
      width: 60%;
      margin-bottom: 0;
    }
  }

  // Search
  .search-form {
    span {
      display: block;
      margin-bottom: 10px;
    }
    input[type="search"] {
      @include form-field;
    }
    .screen-reader-text {
      position: absolute;
      left: -10000px;
    }
    input[type="submit"] {
      float: right;
      border: 0;
      cursor: pointer;
    }
  }

  // Tweets
  .widget_oauth_twitter_widget {

    .oauth-twitter-tweet {
      font-style: normal;
      margin-bottom: 5px;
    }

    .oauth-twitter-tweet-time {
      font-family: $base-font-family;
      text-transform: uppercase;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // Archive links
  .widget_archive li {
    margin-bottom: 10px;
  }

}
