// Box-sizing
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
     -moz-box-sizing: $box-model;
          box-sizing: $box-model;
}

// Rem with px fallback
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}
// Usage: body { @include font-size(16); }
// USage: p { @include font-size(12, 10); }

// Breakpoints
@mixin screen($size) {
  $desktop: "(min-width: 1024px)";
  $tablet: "(min-width: 768px) and (max-width: 1023px)";
  $mobile: "(max-width: 767px)";
  @if $size == desktop {
    @media only screen and #{$desktop} {
      @content;
    }
  }
  @else if $size == tablet {
    @media only screen and #{$tablet} {
      @content;
    }
  }
  @else if $size == mobile {
    @media only screen and #{$mobile} {
      @content;
    }
  }
  @else {
    @media only screen and #{$size} {
      @content;
    }
  }
}
// Usage:
//  .wrapper {
//    margin: 0;
//    width: 100%;
//    @include screen('tablet') {
//      width:90%;
//    }
//
//    @include screen('desktop') {
//      width: 85%;
//    }
//  }

// Opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
// Usage: .element { @include opacity(0.4); }

// Clearfix
@mixin clearfix($extend: true) {
  @if $extend {
    @extend %clearfix;
  } @else {
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
}

%clearfix {
  @include clearfix($extend: false);
}

// Center vertically
@mixin center-vertically {
  position: absolute;
  top: 50%;
  left: 50%;
  @include prefix(transform, translate(-50%, -50%), 'webkit' 'ms');
}
// Usage: .element { @include center-vertically; }

// Title overline
@mixin title-overline {
  position: relative;
  padding-top: 10px;

    &:after {
      content: '';
      position: absolute;
      width: 80px;
      height: 5px;
      top: 0;
      left: 0;
      background: $colour-border-light;
    }
}

// Post meta date format
@mixin post-meta {
  display: block;
  margin-bottom: 12px;
  font-size: 14px;
  text-transform: uppercase;
  color: darken($text-light, 50%);
}

// Form fields
@mixin form-field {
  width: 100%;
  height: 35px;
  border: 0;
  margin-bottom: 10px;
  padding: 0 10px;
  font-size: 16px;
  line-height: 35px;
  background: #f2f2f2;
  transition: all .2s ease-in-out;

    &:focus {
      outline: none;
      box-shadow: inset 0 0 5px rgba(84, 147, 252, 1);
    }

    &:input[type="email"]::-webkit-input-placeholder {
      font-style: italic;
      opacity: .2;
    }

    &:input[type="email"]:-moz-placeholder { /* Firefox 18- */
      font-style: italic;
      opacity: .2;
    }

    &:input[type="email"]::-moz-placeholder {  /* Firefox 19+ */
      font-style: italic;
      opacity: .2;
    }

    &:input[type="email"]:-ms-input-placeholder {
      font-style: italic;
      opacity: .2;
    }
}

// Social link svg icons
@mixin social-link-icons {
  li {
    display: inline-block;
    margin-right: 15px;

    [class^="icon-"] {
      display: block;
      width: 36px;
      height: 30px;
      background: url('img/socialicons-sprite.svg');
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
    }

    .icon-twitter {
      background-position: -92px 0;
    }
    .icon-facebook {
      background-position: 0 0;
    }
    .icon-instagram {
      background-position: -46px 0;
    }
  }

  a {
    transition: all .3s ease;

    &:hover {
      opacity: .7;
    }
  }
}
