// Colours
$colour-bg-main: #fefefe;
$colour-bg-dark: #222222;
$colour-primary: #5493fc;
$colour-accent: #54fc69;
$colour-link: $colour-primary;
$colour-link-hover: darken($colour-primary, 10%);
$colour-border-light: #d8d8d8;
$colour-border-dark: #484848;
$text-standard: #444444;
$text-light: #f2f2f2;

// Typopgraphy
$base-font-family: 'Source Sans Pro', sans-serif;
$base-font-weight: 400;
$base-font-size: 17px;
$base-font-size-large: 20px;
$base-font-size-small: 15px;
$base-line-height: 1.4;
$header-font-weight: 600;

// Layout
$content-max-width: 1100px;
