// Colours
$colour-bg-main: #f5f5f5;
$colour-bg-dark: #222222;
$colour-primary: #5493FC;
$colour-accent: #54FC69;
$colour-link: $colour-primary;
$colour-link-hover: darken($colour-primary, 10%);
$colour-border-light: #D8D8D8;
$colour-border-dark: #484848;
$text-standard: #444444;
$text-light: white;

// Typopgraphy
$base-font-family: 'Source Sans Pro', sans-serif;
$base-font-weight: 400;
$base-font-size: 16px;
$base-line-height: 1.6;
$header-font-weight: 600;

// Layout
$max-width: 1100px;
$content-width: 65.33333333333334%;
$sidebar-width: 30.666666666666668%;
