// Box-sizing
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
  -moz-box-sizing: $box-model;
  box-sizing: $box-model;
}

// Rem with px fallback
@function calculateRem($size) {
  $remSize: $size / 17px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}
// Usage: body { @include font-size(16); }
// Usage: p { @include font-size(12, 10); }

// Breakpoints
@mixin screen($size) {
  $wide: "(min-width: 1200px)";
  $desktop: "(max-width: 1199px)";
  $tablet: "(max-width: 1024px)";
  $mobile: "(max-width: 480px)";
  @if $size == wide {
      @media only screen and #{$wide} {
        @content;
      }
    }
    @else if $size == desktop {
        @media only screen and #{$desktop} {
          @content;
      }
    }
    @else if $size == tablet {
      @media only screen and #{$tablet} {
        @content;
      }
    }
    @else if $size == mobile {
      @media only screen and #{$mobile} {
        @content;
      }
    }
    @else {
      @media only screen and #{$size} {
        @content;
    }
  }
}
// Usage:
//  .wrapper {
//    margin: 0;
//    width: 100%;
//    @include screen('tablet') {
//      width:90%;
//    }
//
//    @include screen('desktop') {
//      width: 85%;
//    }
//  }

// Post widths
@mixin post-width {
  width: 75%;
  margin: 0 auto;

  @include screen('tablet') {
    width: 85%;
  }

  @include screen('mobile') {
    width: 100%;
  }
}

// Global transition settings
@mixin transition {
  transition: all ease-in-out .2s;
}

// Clearfix
@mixin clearfix($extend: true) {
  @if $extend {
    @extend %clearfix;
    } @else {
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
}

%clearfix {
@include clearfix($extend: false);
}

// Form fields
@mixin form-field {
  width: 100%;
  height: 35px;
  border: 1px solid $text-light;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 0 10px;
  font-size: 16px;
  line-height: 35px;
  background: #f2f2f2;
  transition: all .2s ease-in-out;

  &:focus {
    outline: none;
    border: 1px solid $colour-primary;
  }

  &:input[type="email"]::-webkit-input-placeholder {
    font-style: italic;
    opacity: .2;
  }

  &:input[type="email"]:-moz-placeholder { /* Firefox 18- */
    font-style: italic;
    opacity: .2;
  }

  &:input[type="email"]::-moz-placeholder {  /* Firefox 19+ */
    font-style: italic;
    opacity: .2;
  }

  &:input[type="email"]:-ms-input-placeholder {
    font-style: italic;
    opacity: .2;
  }
}