// Colours
$colour-primary: #FB494E;
$colour-accent: #FBE71F;
$colour-link: $colour-primary;
$colour-link-hover: darken($colour-primary, 10%);
$colour-bg-main: #fefefe;
$colour-bg-dark: #242424;
$colour-border-light: #505050;
$colour-border-dark: #323232;
$colour-text-stan: #3c3c3c;
$colour-text-light: #ffffff;

// Typopgraphy
$font-family-headings: 'Lato', sans-serif;
$font-family-body: 'Merriweather', Georgia, serif;
$font-weight-stan: 400;
$font-weight-bold: 700;
$font-weight-heavy: 900;
$font-size-stan: 17px;
$font-size-large: 20px;
$font-size-small: 15px;
$line-height-stan: 1.6;

// Layout
$content-max-width: 1200px;
