// Colours
:root {
    --colour-primary: #5e94f4;
    --colour-primary-hover: #4872BD;
    --color-primary-light: #EEF4FE;
    --colour-secondary: #a04fd1;
    --colour-secondary-light: #cca0e6;
    --colour-border: #d8d8d8;
    --colour-text-dark: #222222;
    --colour-text-light: #ffffff;
}

// Colours (remove once CSS Custom Properties can work in things like "lighten")
$colour-primary: #5e94f4;
$colour-primary-hover: #4872BD;
$color-primary-light: #EEF4FE;
$colour-secondary: #a04fd1;
$colour-secondary-light: #cca0e6;
$colour-border: #d8d8d8;
$colour-text-dark: #111111;
$colour-text-light: #ffffff;

// Breakpoints
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

// Helper layouts and spacing
$inner: 1170px;