// Colours
$colour-primary: #5e94f4;
$colour-primary-hover: #4872BD;
$color-primary-light: #EEF4FE;
$colour-secondary: #a04fd1;
$colour-secondary-light: #eef4fe;
$colour-border: #d8d8d8;
$colour-text-dark: #333333;
$colour-text-light: #ffffff;

// Typography
$font-family-body: 'Open Sans', Helvetica, Arial, sans-serif;
$font-family-headings: 'Lato', sans-serif;
$font-size-normal: 17px;
$font-size-small: 13px; 
$font-weight-bold: 700;

// Helper sizes


// Helper layouts and spacing
$inner: 1170px;