body.login {
  background-image: url('../img/space-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.login h1 a {
  background-image: url('../img/BBB-Logo-darkbg.svg');
  background-size: 100%;
  width: 100%;
  height: 150px;
}

p#nav {
  display: none;
}

p#backtoblog {
  display: none;
}