.btn-medium {
    display: inline-block;
    padding: 7px 13px;
    border-radius: 3px;
    font-size: $base-font-size;
    font-weight: $header-font-weight;
    text-transform: uppercase;
    color: white;
    background: $colour-primary;
    background-size: 25px;
    background-position: 3px 50%;
    transition: all .2s ease-in-out;
}

.btn-large {
  @extend .btn-medium;
  padding: 12px 20px;
  font-size: $base-font-size-large;
}

.btn-small {
  @extend .btn-medium;
  padding: 5px 12px;
  @include font-size(14px);
}

.btn-small, .btn-medium, .btn-large {
  &:hover {
    color: white;
    background: darken($colour-primary, 5%);
  }

  &:visited {
    color: white;
  }
}

.btn-audio::after {
  font-family: 'bigblueboxicons';
  content: '\e907';
  margin-left: 10px;
}

.btn-itunes::after {
  content: '\e908';
  font-family: 'bigblueboxicons';
  margin-left: 10px;
  vertical-align: 10%;
}
