// Overrides for Instagram plugin layout and spacing
#sb_instagram {
  #sbi_images .sbi_item {
    width: 16.66666666667% !important;

    @include screen('mobile') {
      width: 33.33333333% !important;
      height: auto;
    }
  }

  #sbi_load {
    padding-top: 0 !important;
  }
}
