// Overrides for Instagram plugin layout and spacing
.instagram-title {
  color: white;
  height: 40px;
  padding: 0 30px;
  background: rgba(255, 255, 255, .3);

  h4 {
    line-height: 40px;
  }
}

.single-post, .page, .archive, .search { 
  .instagram-title {
    background: $colour-border-light;
  }
}

#sb_instagram {
  #sbi_images .sbi_item {
    width: 16.66666666667% !important;

    @include screen('mobile') {
      width: 50% !important;
      height: auto;
    }
  }

  #sbi_load {
    padding-top: 0 !important;
  }
}
