// Styles for custom Powerpress player
.powerpress_player {

  .mejs-container {
    background: none;

    .mejs-controls {
      background: none;

      .mejs-play button {
        width: 14px;
        height: 18px;
        margin: 6px 5px;
        background: transparent url(img/player-play-btn.svg) no-repeat;

          &:focus, &:active {
            outline: none;
          }
      }

      .mejs-pause button {
        width: 13px;
        height: 18px;
        margin: 5px 5px;
        background: transparent url(img/player-pause-btn.svg) no-repeat;

          &:focus, &:active {
            outline: none;
          }
      }

      .mejs-time-rail {
        padding-top: 3px;
      }

      .mejs-time-total {
        border-radius: 10px;
        height: 15px;
        overflow: hidden;

          &:focus, &:active {
            outline: none;
          }

        .mejs-time-loaded {
          border-radius: 10px;
          height: 15px;
          background: $colour-bg-dark;
        }

        .mejs-time-current {
          border-radius: 10px;
          height: 15px;
          background: $colour-accent;
        }
      }
    }
  }
}

.powerpress_links {
  font-size: $base-font-size-small;
  margin-bottom: 0;

  a {
    margin-left: 12px;
  }
}
