.search-form {
  position: relative;

  span {
    display: block;
    margin-bottom: 10px;
  }
  input[type="search"] {
    @include form-field;
    margin-bottom: 0;
  }
  .screen-reader-text {
    position: absolute;
    left: -10000px;
  }
  .search-btn-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 100%;
    background: $colour-primary;

    button[type="submit"] {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border: 0;
      background: $colour-primary;
      color: white;
      transition: all .2s ease-in-out;
      cursor: pointer;

      &:hover {
        color: white;
        background: darken($colour-primary, 5%);
      }
    }
  }
}
