.SprdMain {
  font-family: $base-font-family;
  color: $text-standard;

  .SprdHeader {
    #startpageButton {
      display: none;
    }
  }

  .sprd-price {
    font-size: 18px;
  }

  .sprd-productName {
    font-size: 20px;
    text-transform: uppercase;
  }

  .sprd-overlayView {
    .customPageBackground {
      color: $text-standard;
    }
  }
}
