.subscribe {
  position: relative;
  z-index: 1;
  margin: 50px 0;
  padding-top: 30px;
  text-align: center;
  border-top: 1px solid $colour-border-dark;
  border-bottom: 1px solid $colour-border-dark;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .4;
    background: url(img/tardis-bg.svg) no-repeat;
    background-position: 50% 10%;
  }

  .sub-itunes {
    h3 {
      margin-bottom: 10px;
    }

    .itunes-link {
      display: inline-block;
      margin-bottom: 30px;
      position: relative;
      transition: all .2s ease-in-out;

      img {
        width: 251px;
      }

      &:hover {
        transform: translateY(-5px);

        @include screen('mobile') {
          transform: none;
        }
      }
    }
  }

  .sub-others {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    > div {
      position: relative;
      margin: 0 25px;
      transition: all .2s ease-in-out;

      img {
        width: 125px;
      }

      &:hover {
        transform: translateY(-5px);
      }
    }
  }

  @include screen('tablet') {
    .sub-others {
      justify-content: space-around;
      text-align: center;

      > div {
        margin: 0 10px;
      }
    }
  }

  @include screen('mobile') {
    .sub-others {
      flex-direction: column;
      align-items: center;

      > div {
        margin-bottom: 20px;

        img {
          width: 150px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          transform: none;
        }
      }
    }
  }
}