// Single post general styles
.single {

    h1.single-post-title {
        font-size: 45px;
        color: white;
        margin-bottom: 1rem;

        @include md {
            font-size: 60px;
        }
    }

    .single-post-content {
        display: flex;
        flex-direction: column;
        @include inner;

        article {
            h2, h3, h4 {
                margin: 0 auto;
            }

            h4, h3 {
                margin-bottom: 1.2rem;
                padding-top: 0.8rem;
            }

            p {
                font-size: 16px;
                margin: 0 auto 1.6rem auto;

                &:first-child {
                    color: lighten($colour-text-dark, 25%);
                    font-size: 115%;
                    font-weight: var(--font-weight-bold);
                    line-height: var(--line-height-larger);
                }
            }

            ul, ol {
                margin: 0 auto 2rem auto;

                li {
                    margin-bottom: 0.6rem;
                }
            }

            ul {
                list-style-type: decimal;
            }

            ol {
                list-style-type: disc;
                padding: 0;
            }


            @include sm {
                h2, h3, h4, p, ul, ol {
                    width: 75%;
                }

                p {
                    font-size: var(--font-size-normal);

                    &:first-child {
                        font-size: 110%;
                        font-weight: var(--font-weight-bold);
                    }
                }
            }

            figure {
                margin: 3rem auto;
    
                figcaption {
                    font-size: 85%;
                    text-transform: uppercase;
                    letter-spacing: 0.2px;
                    line-height: var(--line-height-small);
                    margin-top: 0.5rem;
                    opacity: .8;
                }
            }

            // Gutenberg block - image with cover text
            .wp-block-cover {
                max-width: 1100px;
                margin: 0 auto 2.5rem auto;

                .wp-block-cover-text {
                    font-size: 30px;
                    text-transform: uppercase;
                }
            }

            .wp-block-image figcaption {
                margin-bottom: 0;
                text-align: left;
            }

            // Gutenberg block - Embeds center
            twitter-widget, .instagram-media {
                margin: 10px auto !important;
            }

            .wp-block-embed-spotify {
                .wp-block-embed__wrapper {
                    text-align: center;
                }
            }

            // Gutenberg block - YouTube
            .wp-block-embed-youtube {
                max-width: 1100px;

                .jetpack-video-wrapper {
                    margin-bottom: 0;
                }
            }
        }
    }

    article {
        margin-bottom: 1rem;
        padding-bottom: 3rem;

        .post-title-audio {
            margin-bottom: 2rem;
        }

        h3 {
            font-size: 25px;
        }

        h3, p {
            margin-bottom: 2rem;
        }

        h4 {
            margin-bottom: 0.4rem;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }

    .post-navigation {
        padding-top: 3rem;
        border-top: 1px dashed lighten(#a04fd1, 20%);

        h2 {
            display: none;
        }

        .nav-links {
            display: flex;
            justify-content: space-between;

            > div {
                flex: 0 1 35%;
                position: relative;

                a {
                    display: block;
                    transition: all .3s ease;
                }
            }
        }

        .nav-previous {
            a:hover {
                transform: translateX(-5px);
            }
        }

        .nav-next {
            text-align: right;

            a:hover {
                transform: translateX(5px);
            }
        }
    }
}

// Single page
.page-content-wrapper {
    @include inner;
    margin-bottom: 6rem;

    h4 {
        margin-bottom: 1.2rem;
        padding-top: 0.8rem;
    }

    p {
        margin-bottom: 2rem;

        &:last-child {
            margin: 0;
        }
    }
}