// Headings
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: 600;
  line-height: 1.4;
  text-transform: uppercase;
}

h1 {
  @include font-size(40px);
  margin-left: -2px !important;
}

h2 {
  @include font-size(36px);
  line-height: 41px;
  margin-left: -1px !important;
}

h3 {
  @include font-size(28px);
  line-height: 35px;
  margin-left: -1px !important;
}

// H3 in-post spacing
.category-articles, .category-reviews, .category-opinions {
  h3 {
    margin-bottom: 10px;
  }
}

h4 {
  @include font-size(24px);
  line-height: 32px;
  margin-bottom: 5px;
}

h5 {
  @include font-size(19px);
  line-height: 27px;
}

h6 {
  @include font-size(16px);
  line-height: 24px;
  font-weight: 400;
}

// Body copy
p {
  font-family: $base-font-family;
  @include font-size($base-font-size);
  line-height: $base-line-height;
  margin: 0;
  margin-bottom: 26px;

    &.small {
      @include font-size(13px);
    }
}

// Links
a {
  color: $colour-link;
  &:visited {
    color: $colour-link;
  }
  &:hover {
    color: $colour-link-hover;
  }
  &:active {
    color: $colour-link;
  }

  text-decoration: none;
  transition: color ease .2s;
}
