.page-id-24 {
  .wrap::before {
    background: none;
  }

  .profile-pics {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;

    @include screen('mobile') {
      flex-direction: column;
    }

    .profile-pic {
      flex: 0 0 400px;
      height: 400px;
      box-shadow: 0 25px 45px -20px rgba(0, 0, 0, .6);

      @include screen('tablet') {
        flex: 0 2 40%;
      }

      @include screen('mobile') {
        margin-bottom: 2em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .garry {
      background: url('/img/about-garry.jpg') center left no-repeat;
      background-size: 100%;
      background-size: cover;
    }

    .adam {
      background: url('/img/about-adam.jpg') center right no-repeat;
      background-size: 100%;
      background-size: cover;
    }
  }
}
