.archive .main .post, .search .main .post, {
  border-bottom: 1px solid $colour-border-light;

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.category-news, .category-articles, .category-reviews, .category-opinions {
  .post-notes-title {
    display: none;
  }

  .entry-content p {
    &:first-child {
      font-size: $base-font-size-large;
      line-height: 1.5;
    }
  }
}
