.error404 {
  background: $colour-border-dark url(/img/tennant-cry.gif) no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

  .header::after {
    background: none;
  }
  .error-404 {
    padding: 250px 0 200px 0;

    .page-header {
      margin-bottom: 20px;
    }
    .page-content p:first-child {
      margin-bottom: 10px;
    }

    .search-form {
      width: 33%;
    }
  }
}
