// Two recent posts
.recent-posts {
  h4 {
    margin-bottom: 20px;
  }

  .two-feat-posts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;

      .post {
        flex: 0 0 48%;
        position: relative;
        height: 400px;

        .post-content-recent {
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 30px;
          color: $text-light;

          .entry-meta {
            margin-bottom: 8px;
            span {
              @include font-size(14px);
            }
          }
        }
      }
  }
}

// Ten remaining posts
.main {

  .main-title {
    margin: -5px 0 20px 0;
  }

  .post {
    margin-bottom: 30px;
    @extend %clearfix;

    @include post-thumb;
  }

  .post-content-home {
    h3 {
      margin: -6px 0 0 0;
      @include font-size(30px);
      line-height: 1;
      text-transform: uppercase;
    }

    .entry-meta {
      margin-bottom: 8px;
      span {
        @include font-size(14px);
      }
    }

    p {
      margin: 0;
    }
  }

  .pagination .nav-previous {
    float: left;
    width: 50%;
  }

  .pagination .nav-next {
    float: right;
    width: 50%;
    text-align: right;
  }

}
