.single-post {

  .post-notes-title {
    margin-bottom: 20px;
  }
}

.fb-comments {
  @include post-width;
  text-align: center;
}

.main article {
    .fb-comments h3.fb-comments-title {
    width: 100%;
    @include font-size(24px);
    text-align: left;
    margin-top: 60px;
  }

  h3.essb_message_above_share {
    width: 100%;
    @include font-size(24px);
    text-align: left;
  }
}