// Top logo and nav area
.top-nav {
    position: fixed;
    width: 100%;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3%;
    background: rgba(255,255,255, .07);
    transition: all .3s ease;
    z-index: 100;
 
    .logo {
        position: relative;
        width: 170px;
        transition: all .3s ease;

        &:hover {
            filter: brightness(1.2);
        }

        @include sm {
            width: 200px;
        }
    }
}

// Alternate styles for nav when in body
.top-nav.scrolled {
    height: 70px;
    background: rgba(255, 255, 255, 0.99);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);

    .logo {
        width: 150px;
    }

    .menu-bluebox-header-container li a {
        font-size: 13px;
    }
}

// Main header styles
.site-header {
    background: linear-gradient(0deg, rgba(17, 17, 17, .85) 40%, rgba(39, 39, 39, .4) 100%), url('img/header-bg.jpg') no-repeat;
    background-position: left top;
    background-size: cover;

    .header-wrapper {
        @include inner;
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        padding: 10rem 0 3rem 0;
        
        &__latest-ep {
            flex: 0 1 60%;
            color: var(--colour-text-light);

            h5 {
                margin-bottom: 1rem;
            }

            img, h1 {
                margin-bottom: 1rem;
            }

            img {
                width: 100%;
                border-radius: 5px;
            }

            .powerpress_links {
                margin: 0;
            }

            @media screen and (max-width: 75em) {
                margin-bottom: 2rem;
                padding-bottom: 2rem;
                border-bottom: 1px solid darken($colour-border, 60%);
            }
        }

        &__subscribe {
            flex: 0 1 32%;
            color: var(--colour-text-light);

            h2 {
                margin-bottom: 1rem;
            }

            a, img {
                filter: brightness(0.85);
                transition: all .3s ease;

                &:hover {
                    filter: brightness(1);
                }
            }

            .badge-itunes {
                margin-bottom: 2rem;
            }

            .subscriber-badges {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                a {
                    display: inline-block;
                    margin-bottom: 1.2rem;
                }

                .sprite {
                    display: inline-block;
                    background-image: url('img/badges-sprite.png');
                    background-repeat: no-repeat;
                    background-size: 660px 44px;
                }

                .sprite-android-badge {
                    width: 110px;
                    height: 44px;
                    background-position: 0 0;
                }
                
                .sprite-googleplay-badge {
                    width: 110px;
                    height: 44px;
                    background-position: -110px 0;
                }
                
                .sprite-rssall-badge {
                    width: 110px;
                    height: 44px;
                    background-position: -220px 0;
                }
                
                .sprite-rsspod-badge {
                    width: 110px;
                    height: 44px;
                    background-position: -330px 0;
                }
                
                .sprite-spotify-badge {
                    width: 110px;
                    height: 44px;
                    background-position: -440px 0;
                }
                
                .sprite-stitcher-badge {
                    width: 110px;
                    height: 44px;
                    background-position: -550px 0;
                }

                @media screen and (max-width: 75em) {
                    justify-content: flex-start;
                }
            }

            @supports (display: grid) {
                .subscriber-badges {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 0.8rem;

                    a {
                        width: 110px;
                        height: 44px;
                        margin: 0;
                    }

                    @media screen and (max-width: 380px) {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
            }
        }

        @media screen and (max-width: 75em) {
            flex-direction: column;
        }
    }
}

// Single post header styles
.header-single-post {
    height: 41rem;
    position: relative;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, .7);
    }

    .top-nav {
        width: 100%;
        z-index: 1;
    }

    .header-info {
        margin-top: 105px;
    }

    &__content {
        @include inner;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        text-align: center;
        z-index: 1;

        .header-post-tag {
            align-self: center;
            display: flex;
            align-items: center;
            font-size: 14px;
            text-transform: uppercase;
            color: white;
            margin-bottom: 1.2rem;
            padding: 0.3rem 0.5rem;
            background: rgba(160, 79, 209, .4);
            border: 1px solid var(--colour-secondary);

            .post-img-type-icon__podcast,
            .post-img-type-icon__article {
                position: relative;
                width: 25px;
                height: 25px;
                margin-right: 0.5rem;
                fill: white;
            }

            .post-img-type-icon__article {
                width: 28px;
                height: 22px;
                top: 1px;
            }
        }

        .header-post-meta {
            color: white;
        }

        .header-audio-player {
            text-align: left;
            color: white;

            .powerpress_player {
                margin-bottom: 1rem;

                .mejs-controls {
                    .mejs-time-rail {
                        .mejs-time-current {
                            background: var(--colour-secondary);
                        }
                    }
                }
            }

            p.powerpress_subscribe_links {
                margin-bottom: 0;
            }
        }
    }
}

// Static post header styles
.header-static {
    display: flex;
    flex-direction: column;
    height: 25rem;
    padding-top: 6rem;
    background: url('img/header-bg-static.jpg') no-repeat;
    background-size: cover;
    background-position: 99% 40%;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 0 auto;
        color: white;
        text-align: center;

        span {
            display: block;
        }

        h1 {
            display: block;
            font-size: 42px;
        }

        .author-page-title {
            text-align: center;
            margin-bottom: 1rem;
        }

        .author-page-twitter {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: var(--font-weight-bold);
            text-transform: uppercase;
            padding: 0.3rem 0.5rem;
            border: 1px solid $colour-primary;

            .twitter {
                width: 20px;
                height: 20px;
                margin-right: 0.3rem;
            }
        }
    }
}