.author-bio {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    padding: 2rem;
    background: lighten($colour-secondary, 40%);

    @include sm {
        width: 80%;
        grid-template-columns: 180px 1fr;
        margin: 3rem auto 0 auto;
    }

    &__name, &__links {
        grid-column: 1 / -1;
    }

    &__avatar {
        img {
            width: 140px;
            height: 140px;
            border-radius: 50%;
            box-shadow: -27px 30px 125px -25px rgba(50, 50, 93, 0.4), -16px 38px 75px -37px rgba(0, 0, 0, 0.6);
            margin-bottom: 2rem;

            @include sm {
                margin: 0;
            }
        }
    }

    &__bio-text {
        margin-bottom: 0;
    }

    h4, p {
        width: 100% !important;
    }

    h4 {
        margin-bottom: 1.2rem !important;
    }

    p {
        font-size: 17px !important;
        margin-bottom: 0.8rem !important;
    }
}