@mixin btn() {
    display: inline-block;
    position: relative;
    color: white;
    font-family: var(--font-family-headings);
    font-size: 14px;
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    letter-spacing: 0.1px;
    background: linear-gradient(to right, var(--accent), var(--secondary));
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
    z-index: 100;

    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: inherit;
        background: linear-gradient(to right, var(--secondary), var(--accent));
        opacity: 0;
        z-index: -100;
        transition: all .5s ease;
    }

    &:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, .3);

        &:before {
            opacity: 1;
        }
    }
}

.btn-reg, a.btn-reg, input.btn-reg {
    @include btn;
    padding: 6px 17px 5px;
    opacity: 1;
}

.btn-lrg, a.btn-lrg {
    @include btn;
    font-size: 16px;
    padding: 12px 22px 9px;
}

// Overrides for forms
button {
    border: none;
    background: none;
    padding: none;
    line-height: inherit;
}