.cta-full-width {
    display: block;
    text-align: center;

    a {
        min-width: 100%;

        &:first-child {
            margin-bottom: 1rem;
        }
    }

    @include sm {
        margin: 2rem 0 4rem 0;

        a {
            min-width: 70%;
        }
    }

    @include lg {
        margin: 2rem 0 4rem 0;
        text-align: left;

        a {
            min-width: auto;
            margin-right: 1rem;
        }
    }
}